---
import '../styles/global.css';
import AppNav from '../components/common/AppNav.astro';
import Footer from '../components/common/Footer.astro';
import Toast from '../components/common/Toast.astro';

const GA_ID: string = import.meta.env.PUBLIC_GA_ID;
const APP_URL: string = import.meta.env.PUBLIC_APP_URL;
const {
    title = 'KASANE - 襲',
    description = 'Japanese Traditional Color Palette - Explore and utilize a beautiful collection of Japanese traditional colors for your design projects.',
    type = 'website',
    url = APP_URL,
    image = `${APP_URL}/og-image.png`,
} = Astro.props;
---

<!doctype html>
<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width' />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="Kasane - 襲" />
        <link rel="manifest" href="/site.webmanifest" />
        <meta name='generator' content={Astro.generator} />
        <title>{title}</title>
        <meta name='description' content={description} />

        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary" />
        
        <!-- Canonical -->
        <link rel='canonical' href={url} />

        <!-- Open Graph -->
        <meta property='og:title' content={title} />
        <meta property='og:description' content={description} />
        <meta property='og:type' content={type} />
        <meta property='og:url' content={url} />
        <meta property='og:image' content={image} />

        {
            GA_ID && (
                <>
                <script
                        is:inline
                        type="text/partytown"
                        async src={`https://www.googletagmanager.com/gtag/js?id=${GA_ID}`}
                    />
                    <script is:inline type="text/partytown" define:vars={{ GA_ID }}>
                        window.dataLayer = window.dataLayer || [];
                        function gtag() {
                            dataLayer.push(arguments);
                        }
                        gtag('js', new Date());
                        gtag('config', GA_ID);
                    </script>
                </>
            )
        }
    </head>
    <body class='bg-[#fcfaf2] text-slate-800'>
        <div
            class='fixed inset-0 opacity-[0.03] pointer-events-none z-50'
            style="background-image: url('https://grainy-gradients.vercel.app/noise.svg');"
        >
        </div>
        <AppNav />
        <slot />
        <Footer />
        <Toast />
    </body>
</html>
